<div class="contents vh-100 d-flex align-items-center" id="contents">
  
    <div class="container">
      <div class="row">
        <div class="col-lg-7 mx-auto text-center">
          <h1>Product</h1>
            <%= form_with model: @product, local: true do |f| %>
              <div>
                <%= f.text_field :product_name, class: 'product_name__label', placeholder:"商品名" %>
              </div>
              <div>
                <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"product-category"}) %>
              </div>
              <div>
                <%= f.file_field :image, id: "item-image"%>
              </div>
              <%= f.submit "登録", class:"btn" %>
            <% end %>
        </div>
      </div>
    </div>
  
</div>