<div>
  <%= image_tag @product.image %>
  <%= @product.product_name %>
  <%= @product.category.name %>
</div>

<div>
  <%= form_with(model: [@product, @post], local: true) do |f| %>
    <div>
      <%= f.label :store_name, "店名" %>
      <%= f.text_field :store_name %>
    </div>
    <div>
      <%= f.label :price, "金額" %>
      <%= f.text_field :price %>
    </div>
    <div>
      <%= f.label :comment, "コメント" %>
      <%= f.text_field :comment %>
    </div>
    <div>
      <%= f.submit "送信する" %>
    </div>
  <% end %>
</div>

<div>
  <% @posts.each do |post| %>
    <%= post.store_name%>
    <%= post.price %>
    <%= post.comment %>
    <%= post.user.nickname%>
  <% end %>
</div>