<div class="product-detail">
  <div class="left-content">
    <div class="product">
      <div>
        <%= image_tag @product.image, class:"product-image"%>
      </div>
      <div>
      <%= @product.product_name %>
      </div>
      <div>
        <%= @product.category.name %>
      </div>
    </div>

    <div class="form">
      <%= form_with(model: [@product, @post], local: true) do |f| %>
        <div>
          <%= f.label :store_name, "店名" %><br/>
          <%= f.text_field :store_name %>
        </div>
        <div>
          <%= f.label :price, "金額" %><br/>
          <%= f.text_field :price %>
        </div>
        <div>
          <%= f.label :comment, "コメント" %><br/>
          <%= f.text_field :comment %>
        </div>
        <div class="submit">
          <%= f.submit "送信する" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="right-content">
    <div class="user-posts">
      <% @posts.each do |post| %>
        <div class="user-post">
          <div>
            <%= post.store_name%>
          </div>
          <div>
            <%= post.price %>
          </div>
          <div>
            <%= post.comment %>
          </div>
          <div>
            <%= post.user.nickname%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>